body
{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: black;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.ready
{
    display: none;
}

.listening
{
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    text-align: center;
    width: 128px;
    height: 220px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-position: left center;
    padding: 0px 0px 0px 0px;
    margin: -110px 0px 0px -64px;
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.listening h1
{
    font-size: 24px;
}

.listening p
{
    margin-top: 1em;
}

@keyframes fade
{
    from
    {
        opacity: 1.0;
    }

    50%
    {
        opacity: 0.5;
    }

    to
    {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade
{
    from
    {
        opacity: 1.0;
    }

    50%
    {
        opacity: 0.5;
    }

    to
    {
        opacity: 1.0;
    }
}