body
{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: black;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.ready
{
    display: none;
}

.listening
{
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    text-align: center;
    width: 128px;
    height: 220px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-position: left center;
    padding: 0px 0px 0px 0px;
    margin: -110px 0px 0px -64px;
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.listening h1
{
    font-size: 24px;
}

.listening p
{
    margin-top: 1em;
}

@keyframes fade
{
    from
    {
        opacity: 1.0;
    }

    50%
    {
        opacity: 0.5;
    }

    to
    {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade
{
    from
    {
        opacity: 1.0;
    }

    50%
    {
        opacity: 0.5;
    }

    to
    {
        opacity: 1.0;
    }
}

/* Portrait layout (default) */
#menu
{
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    text-align: center;
    width: 100%;
    padding-top: 125px;
}

#menu h1
{
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    margin-bottom: 80px;
}

ul li
{
    list-style: none;
}

ul li a
{
    display: block;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin: 30px auto;
    padding: 20px 0px;
    width: 80%;
    background-color: #4B946A;
    text-decoration: none;
}

.blink
{
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#menu .about 
{
    margin-top: 180px;
}

#times 
{
    font-size: 24px;
    width: 100%;    
    text-align: center;        
}

#times h1
{
    font-size: 2em;
    margin: 1em 0;
}

#times h2
{
    font-size: 1.5em;
    margin: 1em 0;
}

#times input
{
    width: 80%;
    height: 1.5em;
}

#times td
{
    padding: 10px;
}